$--size-very-small : 12px;
$--size-small : 16px;
$--size-very-medium : 20px;
$--size-medium : 24px;
$--size-very-large : 28px;
$--size-large : 34px;
$--size-2xl : 42px;
$--size-3xl : 48px;
$--size-4xl : 56px;